appdirs==1.4.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
cssselect==1.2.0
dateparser==1.2.0
demjson3==3.0.6
facebook-scraper @ git+https://github.com/moda20/facebook-scraper.git@7e164406599a5d3dec4e9fe38f2d04a3dbcec099
fake-useragent==1.5.1
idna==3.10
importlib_metadata==8.5.0
lxml==5.3.0
lxml_html_clean==0.3.1
parse==1.20.2
pyee==11.1.1
pyppeteer==2.0.0
pyquery==2.0.1
python-dateutil==2.9.0.post0
pytz==2024.2
regex==2024.9.11
requests==2.32.3
requests-html==0.10.0
six==1.16.0
soupsieve==2.6
tqdm==4.66.6
typing_extensions==4.12.2
tzlocal==5.2
urllib3==1.26.20
w3lib==2.2.1
websockets==10.4
zipp==3.20.2
